.wizard {
    margin: 0 auto;
}

.wizard .nav-tabs {
    position: relative;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    background: black;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 2.8em;
    z-index: 1;
    border-bottom: 1px dashed #FFF;
}

.completion-line {
    background: #ffcc00;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    top: 2.8em;
    z-index: 2;
    border-bottom: 5px solid #EEEEEE;
}

span.round-tab {
    width: 45px;
    height: 45px;
    line-height: 35px;
    display: inline-block;
    z-index: 3;
    position: absolute;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    background-color: white;
    border: 4px solid;
    border-color: #e1e4e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

span.round-tab.pointer {
    cursor: pointer;
}

span.round-tab i {
    color: #335075;
}

.step-label-bottom {
    font-size: 13px;
    color: #666666;
    text-transform: uppercase;
}

.wizard li.in-progress span.round-tab {
    background-color: #335075;
    border: 5px double;
    border-color: #e1e4e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.wizard li.complete span.round-tab {
    background-color: #e1e4e7;
    border: 5px solid;
    border-color: #e1e4e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.wizard li.complete span.round-tab:hover {
    border-color: #335075;
}


.wizard li.not-applicable span.round-tab {
    background-color: #fff;
    border: 5px dotted;
    border-color: #e1e4e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.wizard li.in-progress span.round-tab i,
.wizard li.complete span.round-tab i {
    color: #ffcc00;
}

.wizard li.in-progress span.step-label {
    color: #ffffff;
}

.wizard .nav-tabs > li {
    width: 33%;
}

.wizard .nav-tabs > li > div:last-child {
    width: 100%;
}

.wizard .nav-tabs > li a,
.wizard .nav-tabs > li.incomplete--no-nav > div:first-child,
.wizard .nav-tabs > li.not-applicable > div:first-child,
.wizard .nav-tabs > li.complete > div:first-child {
    width: 45px;
    height: 45px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    z-index: 3
}

.wizard .nav-tabs > li a:focus span.round-tab {
    border-color: #335075;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.wizard .nav.nav-tabs {
    min-width: 280px;
}

.wizard {
    font-size: 14px;
}

.wizard .nav-tabs {
    border-bottom: none;
    padding: 20px 0;
    padding-top: 0px;
}


@media screen and (min-width : 586px) {
    .step-label-top {
        width: 100%;
        top: -2px;
        text-align: center;
        position: absolute;
    }

    .step-label-bottom {
        width: 100%;
        text-align: center;
        padding: 0 10%;
    }
}

/*Small view (screen-only)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .step-label-bottom {
        padding: 0 10%;

    }

}

/*Extra-small view (screen only)*/
@media screen and (min-width: 480px) and (max-width: 767px) {
    .step-label-bottom {
        padding: 0 5%;

    }

}

@media screen and (max-width : 585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 13px;
        width: 33px;
        height: 33px;
        line-height: 22px;
    }

    .wizard .nav-tabs > li a {
        width: 33px;
        height: 33px;
        line-height: 33px;
    }

    .wizard .nav-tabs {
        padding: 0px;
    }


    .wizard li.in-progress:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .step-label-top {
        display: none;
    }

    .step-label-bottom {
        display: none;
    }

    i.fa-lg {
        font-size: 1.1111111em !important;
    }

    .completion-line {
        top: 43%;
    }
}
